@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2 class="display-3">Hi <span class="text-success">@UserManager.GetUserName(User)</span>!</h2>
    <h3 class="display-5">Waiting for approval</h3>
    <img src="~/WaitingBanner.png" alt="Waiting..." height="300"/>
    <p class="fs-5">We are processing your request to register you on the site as an employee so that you can publish products.</p>
</div>