@model SuplementosShop.Entities.Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Product</h1>


<div class="card-body">
    <form method="post" asp-action="Add" asp-controller="Product">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container" style="padding:30px">
            <div class="form-group">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" type="text" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" type="text" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="form-control" type="number" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="form-label">Image Url</label>
                <input asp-for="ImageUrl" class="form-control" type="text" />
                <span asp-validation-for="ImageUrl" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="form-label">Category</label>
                <input asp-for="CategoryId" class="form-control" type="number" />
                <span asp-validation-for="CategoryId" class="text-danger" />
            </div>
        </div>

        <div class="container" style="padding:30px">
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success form-control" />
            </div>
        </div> 
    </form>
</div>