
@model ProductCategoryViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex justify-content-between mb-3 align-items-center">
    <h3>Market</h3>
    <form method="post" asp-controller="Cart" asp-action="Index">
    
        @if(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier) != null)
        {
            <input asp-for=UserId hidden value=@User.Identity.Name />   
        }

        <button type="submit" class="btn btn-success" value="Index">Cart</button>
    </form>

</div>


    @if(Model.Products.Count() > 0)
    {
        <div class="w-100">
            <div class="row row-cols-4">
                @foreach (var prod in Model.Products)
                {
                         <form class="col mb-2" asp-controller="Cart" asp-action="Add" method="post">

                             <input asp-for=CurrentProductId hidden value=@prod.Id />

                              <input asp-for=UserId hidden value=@User.Identity.Name />


                             <div class="card" style="width: 18rem;">
                                <img src=@prod.ImageUrl class="card-img-top" height="255" alt=@prod.Name>
                                <div class="card-body">
                                    <div class="d-flex">
                                        <h5 class="fw-bold">$@prod.Price - </h5>
                                        <h5 class="mx-1 text-secondary">@prod.Category.Name</h5>
                                    </div>

                                    <h5 class="card-title">@prod.Name</h5>  
                                    <p class="card-text">@prod.Description</p>
                                    <div class="d-flex justify-content-end gap-1 w-100">
                                        <input value="1" asp-for="ProductQuantity" class="form-control p-0 m-0 text-center w-25"/>
                                        <button type="submit" class="btn btn-outline-success  " value="Add">+ 🛒</button>
                                    </div>



                                </div>
                             </div>
                        </form>
               
                }

            </div>
        </div>
    } else {<h5 class="text-warning">No products yet!</h5>}

