@using SuplementosShop.Entities
@model Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Category</h1>


<div class="card-body">
    <form method="post" asp-action="Edit" asp-controller="Category">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="container" style="padding:30px">
            <div class="form-group">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" type="text" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="form-label">Description</label>
                <input asp-for="ShortDescription" class="form-control" type="text" />
                <span asp-validation-for="ShortDescription" class="text-danger" />
            </div>
        </div>

        <div class="container" style="padding:30px">
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success form-control" />
            </div>
        </div> 
    </form>
</div>

